{%extends 'base.html' %}
{%load static%}



{%block main_block%}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Working Hours</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Working Hours</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

    <div class="row " >
        <div class="col-4"></div>
        <div class="col-4">

           <form action="{%url 'book'%}" method="post">
            {%csrf_token%}

            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>

              <div class="input-group flex-nowrap mt-3">
                <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping" name="email">
              </div>

              <div class="input-group flex-nowrap mt-3">
                <input type="text" class="form-control" placeholder="contact number" aria-label="Username" aria-describedby="addon-wrapping" name="phone">
              </div>

              <div  class="mt-4 d-flex justify-content-center">
                <button type="submit " class="btn-primary">Book Now</button>
              </div>

           </form>
            

        </div>
        <div class="col-4"></div>
    </div>


<!-- Working Hours Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="h-100">
                    <img class="img-fluid h-100" src="" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-secondary h-100 d-flex flex-column justify-content-center p-5">
                    <p class="d-inline-flex bg-dark text-primary py-1 px-4 me-auto">Working Hours</p>
                    <h1 class="text-uppercase mb-4">check our time</h1>
                    <div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Monday</h6>
                            <span class="text-uppercase">09 AM - 09 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Tuesday</h6>
                            <span class="text-uppercase">09 AM - 09 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Wednesday</h6>
                            <span class="text-uppercase">09 AM - 09 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Thursday</h6>
                            <span class="text-uppercase">09 AM - 09 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Friday</h6>
                            <span class="text-uppercase">09 AM - 09 PM</span>
                        </div>
                        <div class="d-flex justify-content-between py-2">
                            <h6 class="text-uppercase mb-0">Sat / Sun</h6>
                            <span class="text-uppercase text-primary">Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Working Hours End -->

{%endblock%}